---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CIhnCG9Bw4keQMbF3jw9juI",
          "object": "token",
          "card": {
            "id": "card_1CIhnCG9Bw4keQMbTn7Z24cz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "GX3g3BXI6WxEKoWQ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "176.119.73.85",
          "created": 1524163658,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 19 Apr 2018 18:47:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&source=tok_1CIhnCG9Bw4keQMbF3jw9juI&description=&metadata[reference]=f5ea7fe5594c70246aad
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f5ea7fe5594c70246aad
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f5ea7fe5594c70246aad
      Original-Request:
      - req_m6gUl1vwWbyRYO
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CIhnDG9Bw4keQMbpk9puisn",
          "object": "charge",
          "amount": 2500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CIhnEG9Bw4keQMbq7w3hT7j",
          "captured": true,
          "created": 1524163659,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "f5ea7fe5594c70246aad"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CIhnDG9Bw4keQMbpk9puisn/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CIhnCG9Bw4keQMbTn7Z24cz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "GX3g3BXI6WxEKoWQ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Thu, 19 Apr 2018 18:47:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_1CIhnDG9Bw4keQMbpk9puisn&amount=2500&metadata[refund_reference]=4eb5697de0119321b904&metadata[original_reference]=f5ea7fe5594c70246aad
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 4eb5697de0119321b904
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4eb5697de0119321b904
      Original-Request:
      - req_mYtCKM15RyOUVX
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1CIhnFG9Bw4keQMbyPr4CKEc",
          "object": "refund",
          "amount": 2500,
          "balance_transaction": "txn_1CIhnFG9Bw4keQMbfPvvQvE5",
          "charge": "ch_1CIhnDG9Bw4keQMbpk9puisn",
          "created": 1524163661,
          "currency": "usd",
          "metadata": {
            "refund_reference": "4eb5697de0119321b904",
            "original_reference": "f5ea7fe5594c70246aad"
          },
          "reason": null,
          "receipt_number": null,
          "status": "succeeded"
        }
  recorded_at: Thu, 19 Apr 2018 18:47:41 GMT
recorded_with: VCR 4.0.0
