---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CCEqmG9Bw4keQMb0PnhApQV",
          "object": "token",
          "card": {
            "id": "card_1CCEqmG9Bw4keQMbgNqD9DSe",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "GX3g3BXI6WxEKoWQ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "31.31.103.7",
          "created": 1522622436,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 01 Apr 2018 22:40:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&source=tok_1CCEqmG9Bw4keQMb0PnhApQV&description=&metadata[reference]=5219f5a9356cf315859b
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5219f5a9356cf315859b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5219f5a9356cf315859b
      Original-Request:
      - req_3GbSuqghX4CDw2
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1CCEqnG9Bw4keQMbUASL3PCY",
          "object": "charge",
          "amount": 2500,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1CCEqoG9Bw4keQMbszutHaXP",
          "captured": true,
          "created": 1522622437,
          "currency": "usd",
          "customer": null,
          "description": "",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "reference": "5219f5a9356cf315859b"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1CCEqnG9Bw4keQMbUASL3PCY/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1CCEqmG9Bw4keQMbgNqD9DSe",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "GX3g3BXI6WxEKoWQ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded",
          "transfer_group": null
        }
  recorded_at: Sun, 01 Apr 2018 22:40:38 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/refunds
    body:
      encoding: UTF-8
      string: charge=ch_1CCEqnG9Bw4keQMbUASL3PCY&amount=2500&metadata[refund_reference]=9c6efe2002a2d0a4cf00&metadata[original_reference]=5219f5a9356cf315859b
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 9c6efe2002a2d0a4cf00
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9c6efe2002a2d0a4cf00
      Original-Request:
      - req_ruFHZwyXi8hHHh
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "re_1CCEqpG9Bw4keQMbt7HICX9W",
          "object": "refund",
          "amount": 2500,
          "balance_transaction": "txn_1CCEqpG9Bw4keQMbkOApyazn",
          "charge": "ch_1CCEqnG9Bw4keQMbUASL3PCY",
          "created": 1522622439,
          "currency": "usd",
          "metadata": {
            "refund_reference": "9c6efe2002a2d0a4cf00",
            "original_reference": "5219f5a9356cf315859b"
          },
          "reason": null,
          "receipt_number": null,
          "status": "succeeded"
        }
  recorded_at: Sun, 01 Apr 2018 22:40:40 GMT
recorded_with: VCR 4.0.0
