---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CUxVQqCDsTKvOX",
          "object": "customer",
          "account_balance": 0,
          "created": 1521126104,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@example.com",
          "invoice_prefix": "C6A949A",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CUxVQqCDsTKvOX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CUxVQqCDsTKvOX/subscriptions"
          }
        }
  recorded_at: Thu, 15 Mar 2018 15:01:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1C5xaPG9Bw4keQMb8t1Y8O67",
          "object": "token",
          "card": {
            "id": "card_1C5xaPG9Bw4keQMbJ0QAWYJb",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "GX3g3BXI6WxEKoWQ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "31.31.107.53",
          "created": 1521126105,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 15 Mar 2018 15:01:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CUxVQqCDsTKvOX
    body:
      encoding: UTF-8
      string: source=tok_1C5xaPG9Bw4keQMb8t1Y8O67
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encodin[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CUxVQqCDsTKvOX/subscriptions
    body:
      encoding: UTF-8
      string: plan=orchestra_monthly
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_CUxV2Cacv56tUy",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1521126108,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1521126108,
          "current_period_end": 1523804508,
          "current_period_start": 1521126108,
          "customer": "cus_CUxVQqCDsTKvOX",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_CUxViiNKUOzIDq",
                "object": "subscription_item",
                "created": 1521126109,
                "metadata": {},
                "plan": {
                  "id": "orchestra_monthly",
                  "object": "plan",
                  "amount": 10000,
                  "created": 1521125550,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "Orchestra Monthly",
                  "product": "prod_CUxMHgqubz1jrn",
                  "trial_period_days": null
                },
                "quantity": 1,
                "subscription": "sub_CUxV2Cacv56tUy"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_CUxV2Cacv56tUy"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "orchestra_monthly",
            "object": "plan",
            "amount": 10000,
            "created": 1521125550,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": "Orchestra Monthly",
            "product": "prod_CUxMHgqubz1jrn",
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1521126108,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Thu, 15 Mar 2018 15:01:50 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_CUxVQqCDsTKvOX/subscriptions/sub_CUxV2Cacv56tUy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encod[...]
- request:
    method: delete
    uri: https://api.stripe.com/v1/subscriptions/sub_CUxV2Cacv56tUy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |[...]
