---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CHslwG9Bw4keQMbDRORyHZM",
          "object": "token",
          "card": {
            "id": "card_1CHslwG9Bw4keQMb1UaUqJVx",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "i9Dv4BVMQje5WVos",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "212.178.18.56",
          "created": 1523967536,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 17 Apr 2018 12:18:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=2500&currency=usd&source=tok_1CHslwG9Bw4keQMbDRORyHZM&description=&metadata[reference]=2a4956cfbb90c3eb0f92
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2a4956cfbb90c3eb0f92
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2a4956cfbb90c3eb0f92
      Original-Request:
      - req_FVCc9WnHSjMPTf
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1CHslxG9Bw4keQMbL7edndyb",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Tue, 17 Apr 2018 12:18:58 GMT
recorded_with: VCR 4.0.0
