---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1C5xbEG9Bw4keQMbnMtvSD0y",
          "object": "token",
          "card": {
            "id": "card_1C5xbDG9Bw4keQMbdXu9tduG",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "GX3g3BXI6WxEKoWQ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "31.31.107.53",
          "created": 1521126156,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 15 Mar 2018 15:02:36 GMT
recorded_with: VCR 4.0.0
