---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CK3T8G9Bw4keQMbu75IlKG8",
          "object": "token",
          "card": {
            "id": "card_1CK3T7G9Bw4keQMbh8AVp6XD",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "i9Dv4BVMQje5WVos",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "176.119.122.236",
          "created": 1524485310,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Mon, 23 Apr 2018 12:08:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=3000&currency=usd&source=tok_1CK3T8G9Bw4keQMbu75IlKG8&description=&metadata[reference]=27a35949621bbf590f13
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 27a35949621bbf590f13
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 27a35949621bbf590f13
      Original-Request:
      - req_gC6lAJFFxRpu8V
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "charge": "ch_1CK3T9G9Bw4keQMboqbhyCW2",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "type": "card_error"
          }
        }
  recorded_at: Mon, 23 Apr 2018 12:08:31 GMT
recorded_with: VCR 4.0.0
