---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic RUJXS2psRUxLTVlxUk5RNnNZdkZvNjRGdGFSTFJSNUJkSEVFU21oYTQ5VE06RU80MjJkbjNnUUxnRGJ1d3FUanpyRmdGdGFSTFJSNUJkSEVFU21oYTQ5VE0=
      Paypal-Request-Id:
      - f0ae9c97-e8ad-440d-9d4c-c98331cb92d5
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 4c0c7acfc97c2
      - 4c0c7acfc97c2
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://api.paypal.com/v1/vault/credit-card
        openid https://api.paypal.com/v1/developer/.* https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/customer/partner-referrals/readwrite","nonce":"2018-04-03T15:07:41Zyjzcb_n-NsNNiY__Epho--Gs0XOc4LtNCo_1iRUac3g","access_token":"A21AAHiYADzix4Bq9tRB8ZU1ll9JsPg7WUMoFIS30hp-BGNKr4rv_-0mrbfVGIPE-oRenBCtgTj7h2RXrkzuV0Ad0yaV2-4Kg","token_type":"Bearer","app_id":"APP-2EJ531395M785864S","expires_in":31788}'
  recorded_at: Tue, 03 Apr 2018 15:17:54 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"3","name":"3","quantity":"1","price":"15.00","currency":"USD"},{"sku":"3","name":"4","quantity":"1","price":"15.00","currency":"USD"},{"name":"discount","quantity":"1","price":"0.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://c5c88ef5.ngrok.io/paypal/approved","cancel_url":"http://c5c88ef5.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAHiYADzix4Bq9tRB8ZU1ll9JsPg7WUMoFIS30hp-BGNKr4rv_-0mrbfVGIPE-oRenBCtgTj7h2RXrkzuV0Ad0yaV2-4Kg
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - f0ae9c97-e8ad-440d-9d4c-c98331cb92d5
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - 4aaabd9e7a13
      - 4aaabd9e7a13
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-6LD76087YF5014528LLBZWIY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"3","sku":"3","price":"15.00","currency":"USD","quantity":1},{"name":"4","sku":"3","price":"15.00","currency":"USD","quantity":1},{"name":"discount","price":"0.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-04-03T15:17:55Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-6LD76087YF5014528LLBZWIY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-5T3719778W2390642","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-6LD76087YF5014528LLBZWIY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Tue, 03 Apr 2018 15:17:55 GMT
recorded_with: VCR 4.0.0
