---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic RUJXS2psRUxLTVlxUk5RNnNZdkZvNjRGdGFSTFJSNUJkSEVFU21oYTQ5VE06RU80MjJkbjNnUUxnRGJ1d3FUanpyRmdGdGFSTFJSNUJkSEVFU21oYTQ5VE0=
      Paypal-Request-Id:
      - 8c099a84-db9d-4296-977e-cc59c9b18458
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 2560b85c36a64
      - 2560b85c36a64
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://api.paypal.com/v1/vault/credit-card
        openid https://api.paypal.com/v1/developer/.* https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/customer/partner-referrals/readwrite","nonce":"2018-04-17T12:05:02ZZ4L--_KT8dw6wbEQNTlkSDJKjZN8Ys1RJMf58Ll75WY","access_token":"A21AAHX4NrQtOD7MdUtWdVUW0sqxg7cuyY8c4X1Y2BfRbC4-lKzrcevjY3XaUMuKWIvB1-H7NfcT_fgNszQDSQJ1SDWlEf_Yw","token_type":"Bearer","app_id":"APP-2EJ531395M785864S","expires_in":31562}'
  recorded_at: Tue, 17 Apr 2018 12:19:00 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"31.00"},"item_list":{"items":[{"sku":"4","name":"2","quantity":"1","price":"15.00","currency":"USD"},{"sku":"4","name":"3","quantity":"1","price":"15.00","currency":"USD"},{"name":"discount","quantity":"1","price":"1.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://c5c88ef5.ngrok.io/paypal/approved","cancel_url":"http://c5c88ef5.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAHX4NrQtOD7MdUtWdVUW0sqxg7cuyY8c4X1Y2BfRbC4-lKzrcevjY3XaUMuKWIvB1-H7NfcT_fgNszQDSQJ1SDWlEf_Yw
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 8c099a84-db9d-4296-977e-cc59c9b18458
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - f37b0a46dde8a
      - f37b0a46dde8a
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-0RK08788825047036LLK6MPQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"31.00","currency":"USD"},"item_list":{"items":[{"name":"2","sku":"4","price":"15.00","currency":"USD","quantity":1},{"name":"3","sku":"4","price":"15.00","currency":"USD","quantity":1},{"name":"discount","price":"1.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-04-17T12:19:09Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-0RK08788825047036LLK6MPQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-73U98683DM716340B","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-0RK08788825047036LLK6MPQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Tue, 17 Apr 2018 12:19:10 GMT
recorded_with: VCR 4.0.0
