---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic RUJXS2psRUxLTVlxUk5RNnNZdkZvNjRGdGFSTFJSNUJkSEVFU21oYTQ5VE06RU80MjJkbjNnUUxnRGJ1d3FUanpyRmdGdGFSTFJSNUJkSEVFU21oYTQ5VE0=
      Paypal-Request-Id:
      - 2e0a05a4-87b6-478f-8c95-baf50251fdb7
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 1beb79ff43767
      - 1beb79ff43767
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://api.paypal.com/v1/vault/credit-card
        openid https://api.paypal.com/v1/developer/.* https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/customer/partner-referrals/readwrite","nonce":"2018-03-15T15:02:26Z6EmlKx8k8dUmyIK8FLWjHnRK8UjsyPRBtObWCueYC8I","access_token":"A21AAHg9763hN4hUFlANKxsMhaFq6ikW6oBisgygLk_Hl-F2ej2t89_C2q4MOTy78TBQVgoF2SvknJF3Eg3wJfXDT5i6mcXlQ","token_type":"Bearer","app_id":"APP-2EJ531395M785864S","expires_in":32398}'
  recorded_at: Thu, 15 Mar 2018 15:02:28 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"2","name":"Name
        08 Feb 14:25","quantity":"1","price":"15.00","currency":"USD"},{"sku":"2","name":"Name
        08 Feb 14:25","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://586432b4.ngrok.io/paypal/approved","cancel_url":"http://586432b4.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAHg9763hN4hUFlANKxsMhaFq6ikW6oBisgygLk_Hl-F2ej2t89_C2q4MOTy78TBQVgoF2SvknJF3Eg3wJfXDT5i6mcXlQ
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 2e0a05a4-87b6-478f-8c95-baf50251fdb7
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - 5ad4859372718
      - 5ad4859372718
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-5GY30665PH706800PLKVIWBI","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"Name
        08 Feb 14:25","sku":"2","price":"15.00","currency":"USD","quantity":1},{"name":"Name
        08 Feb 14:25","sku":"2","price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-03-15T15:02:29Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-5GY30665PH706800PLKVIWBI","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-7VM15212X0015194Y","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-5GY30665PH706800PLKVIWBI/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 15 Mar 2018 15:02:30 GMT
recorded_with: VCR 4.0.0
