---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic RUJXS2psRUxLTVlxUk5RNnNZdkZvNjRGdGFSTFJSNUJkSEVFU21oYTQ5VE06RU80MjJkbjNnUUxnRGJ1d3FUanpyRmdGdGFSTFJSNUJkSEVFU21oYTQ5VE0=
      Paypal-Request-Id:
      - '00283b1e-cb1b-4f3b-97d0-e85880c5b620'
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - e0461fc0191e6
      - e0461fc0191e6
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://api.paypal.com/v1/vault/credit-card
        openid https://api.paypal.com/v1/developer/.* https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/customer/partner-referrals/readwrite","nonce":"2018-04-19T18:14:54ZiLoNndtsABa4Wxur7qQTZ6b0rb5e2tO2iQwwrj35bMg","access_token":"A21AAGUDl-Em2Vb0aHQkVOEC5lfwgD5y0UMTItDxMPaIw87Rkt5He7qiEiY18I3NC6MFHkKNRdAJBRHsn1FfILoOvjHxP4xNA","token_type":"Bearer","app_id":"APP-2EJ531395M785864S","expires_in":30402}'
  recorded_at: Thu, 19 Apr 2018 18:48:12 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"31.00"},"item_list":{"items":[{"sku":"13","name":"12","quantity":"1","price":"15.00","currency":"USD"},{"sku":"13","name":"13","quantity":"1","price":"15.00","currency":"USD"},{"name":"discount","quantity":"1","price":"1.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://54d8edbb.ngrok.io/paypal/approved","cancel_url":"http://54d8edbb.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAGUDl-Em2Vb0aHQkVOEC5lfwgD5y0UMTItDxMPaIw87Rkt5He7qiEiY18I3NC6MFHkKNRdAJBRHsn1FfILoOvjHxP4xNA
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - '00283b1e-cb1b-4f3b-97d0-e85880c5b620'
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - 3e5cedaf3db62
      - 3e5cedaf3db62
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-87323781H23579348LLMOI3I","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"31.00","currency":"USD"},"item_list":{"items":[{"name":"12","sku":"13","price":"15.00","currency":"USD","quantity":1},{"name":"13","sku":"13","price":"15.00","currency":"USD","quantity":1},{"name":"discount","price":"1.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-04-19T18:48:13Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-87323781H23579348LLMOI3I","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-6M889697Y5162371B","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-87323781H23579348LLMOI3I/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 19 Apr 2018 18:48:13 GMT
recorded_with: VCR 4.0.0
