---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: id=basic_monthly_1521126117&product[name]=Basic+Monthly&amount=2000&currency=usd&interval=month&interval_count=1&nickname=Basic+Monthly
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1521126117",
          "object": "plan",
          "amount": 2000,
          "created": 1521126118,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "nickname": "Basic Monthly",
          "product": "prod_CUxVhluUThzbIi",
          "trial_period_days": null
        }
  recorded_at: Thu, 15 Mar 2018 15:01:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/basic_monthly_1521126117
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1521126117",
          "object": "plan",
          "amount": 2000,
          "created": 1521126118,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "nickname": "Basic Monthly",
          "product": "prod_CUxVhluUThzbIi",
          "trial_period_days": null
        }
  recorded_at: Thu, 15 Mar 2018 15:02:00 GMT
recorded_with: VCR 4.0.0
