---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: UTF-8
      string: id=basic_monthly_1522622390&product[name]=Basic+Monthly&amount=2000&currency=usd&interval=month&interval_count=1&nickname=Basic+Monthly
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1522622390",
          "object": "plan",
          "amount": 2000,
          "billing_scheme": "per_unit",
          "created": 1522622391,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "nickname": "Basic Monthly",
          "product": "prod_CbRjZsnkux8Rnt",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Sun, 01 Apr 2018 22:39:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/basic_monthly_1522622390
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "basic_monthly_1522622390",
          "object": "plan",
          "amount": 2000,
          "billing_scheme": "per_unit",
          "created": 1522622391,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "nickname": "Basic Monthly",
          "product": "prod_CbRjZsnkux8Rnt",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Sun, 01 Apr 2018 22:39:53 GMT
recorded_with: VCR 4.0.0
