---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2019&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1CCEr6G9Bw4keQMbxVoYxNub",
          "object": "token",
          "card": {
            "id": "card_1CCEr6G9Bw4keQMbHea21S8s",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2019,
            "fingerprint": "GX3g3BXI6WxEKoWQ",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "31.31.103.7",
          "created": 1522622456,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sun, 01 Apr 2018 22:40:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=test%40example.com
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CbRkqiJXMsNTeV",
          "object": "customer",
          "account_balance": 0,
          "created": 1522622458,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "test@example.com",
          "invoice_prefix": "C44A875",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CbRkqiJXMsNTeV/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CbRkqiJXMsNTeV/subscriptions"
          }
        }
  recorded_at: Sun, 01 Apr 2018 22:40:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CbRkqiJXMsNTeV
    body:
      encoding: UTF-8
      string: source=tok_1CCEr6G9Bw4keQMbxVoYxNub
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encodin[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_CbRkqiJXMsNTeV/subscriptions
    body:
      encoding: UTF-8
      string: plan=orchestra_monthly
    headers:
      Authorization:
      - Bearer sk_test_JYrSngeaB6dFnfYWEII1vZaD
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2018-02-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_CbRkr5zXVSiBA5",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1522622461,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1522622461,
          "current_period_end": 1525214461,
          "current_period_start": 1522622461,
          "customer": "cus_CbRkqiJXMsNTeV",
          "days_until_due": null,
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_CbRk6Iv78joSOF",
                "object": "subscription_item",
                "created": 1522622462,
                "metadata": {},
                "plan": {
                  "id": "orchestra_monthly",
                  "object": "plan",
                  "amount": 10000,
                  "billing_scheme": "per_unit",
                  "created": 1521125550,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "nickname": "Orchestra Monthly",
                  "product": "prod_CUxMHgqubz1jrn",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_CbRkr5zXVSiBA5"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_CbRkr5zXVSiBA5"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "orchestra_monthly",
            "object": "plan",
            "amount": 10000,
            "billing_scheme": "per_unit",
            "created": 1521125550,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "nickname": "Orchestra Monthly",
            "product": "prod_CUxMHgqubz1jrn",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "start": 1522622461,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sun, 01 Apr 2018 22:41:03 GMT
recorded_with: VCR 4.0.0
