---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"23.50"},"item_list":{"items":[{"sku":"14","name":"14","quantity":"1","price":"15.00","currency":"USD"},{"sku":"14","name":"15","quantity":"1","price":"15.00","currency":"USD"},{"name":"discount","quantity":"1","price":"-6.50","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://54d8edbb.ngrok.io/paypal/approved","cancel_url":"http://54d8edbb.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAGUDl-Em2Vb0aHQkVOEC5lfwgD5y0UMTItDxMPaIw87Rkt5He7qiEiY18I3NC6MFHkKNRdAJBRHsn1FfILoOvjHxP4xNA
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 295722a9-b806-4dca-8e97-429e718447b4
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - 7596f67cd9f57
      - 7596f67cd9f57
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-2UE22680ET066173KLLMOI3Y","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"23.50","currency":"USD"},"item_list":{"items":[{"name":"14","sku":"14","price":"15.00","currency":"USD","quantity":1},{"name":"15","sku":"14","price":"15.00","currency":"USD","quantity":1},{"name":"discount","price":"-6.50","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-04-19T18:48:14Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2UE22680ET066173KLLMOI3Y","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-1PG703130T941542F","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-2UE22680ET066173KLLMOI3Y/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Thu, 19 Apr 2018 18:48:15 GMT
recorded_with: VCR 4.0.0
