---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"22.50"},"item_list":{"items":[{"sku":"4","name":"5","quantity":"1","price":"15.00","currency":"USD"},{"sku":"4","name":"6","quantity":"1","price":"15.00","currency":"USD"},{"name":"discount","quantity":"1","price":"-7.50","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://c5c88ef5.ngrok.io/paypal/approved","cancel_url":"http://c5c88ef5.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAHiYADzix4Bq9tRB8ZU1ll9JsPg7WUMoFIS30hp-BGNKr4rv_-0mrbfVGIPE-oRenBCtgTj7h2RXrkzuV0Ad0yaV2-4Kg
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - 41c26cc0-d5f4-4d9a-b897-d443f5e67c41
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - c8e917338c35b
      - c8e917338c35b
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-6HN91313JH7468946LLBZWJA","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"22.50","currency":"USD"},"item_list":{"items":[{"name":"5","sku":"4","price":"15.00","currency":"USD","quantity":1},{"name":"6","sku":"4","price":"15.00","currency":"USD","quantity":1},{"name":"discount","price":"-7.50","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-04-03T15:17:56Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-6HN91313JH7468946LLBZWJA","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-67D87873WB690791M","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-6HN91313JH7468946LLBZWJA/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Tue, 03 Apr 2018 15:17:57 GMT
recorded_with: VCR 4.0.0
