---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"23.50"},"item_list":{"items":[{"sku":"5","name":"4","quantity":"1","price":"15.00","currency":"USD"},{"sku":"5","name":"5","quantity":"1","price":"15.00","currency":"USD"},{"name":"discount","quantity":"1","price":"-6.50","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://c5c88ef5.ngrok.io/paypal/approved","cancel_url":"http://c5c88ef5.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAHX4NrQtOD7MdUtWdVUW0sqxg7cuyY8c4X1Y2BfRbC4-lKzrcevjY3XaUMuKWIvB1-H7NfcT_fgNszQDSQJ1SDWlEf_Yw
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - fd4445f2-3205-4b4d-b976-36414b9185e2
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - 5102c1915b314
      - 5102c1915b314
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-3HA24761647879231LLK6MPY","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"23.50","currency":"USD"},"item_list":{"items":[{"name":"4","sku":"5","price":"15.00","currency":"USD","quantity":1},{"name":"5","sku":"5","price":"15.00","currency":"USD","quantity":1},{"name":"discount","price":"-6.50","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-04-17T12:19:11Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-3HA24761647879231LLK6MPY","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-5AW22867GW4352016","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-3HA24761647879231LLK6MPY/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Tue, 17 Apr 2018 12:19:11 GMT
recorded_with: VCR 4.0.0
