---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic RUJXS2psRUxLTVlxUk5RNnNZdkZvNjRGdGFSTFJSNUJkSEVFU21oYTQ5VE06RU80MjJkbjNnUUxnRGJ1d3FUanpyRmdGdGFSTFJSNUJkSEVFU21oYTQ5VE0=
      Paypal-Request-Id:
      - b75dfedb-b6f5-4015-bed2-46478e71eea2
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 884d29f62acc6
      - 884d29f62acc6
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://api.paypal.com/v1/vault/credit-card
        openid https://api.paypal.com/v1/developer/.* https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/customer/partner-referrals/readwrite","nonce":"2018-03-07T19:20:32Zz46b4M7HZSdvW2_6DlIjX8ZvCfne4PcxD9ViMhmdUYw","access_token":"A21AAGJfTvfqRstH9x3gRmyzGxf4BhqbhvnAi5zeCM5ONFd0S7MUyoVWmIGk5wJ-LQbcUKkHaVIra2JO0eOVYXjoPIwh9-qNQ","token_type":"Bearer","app_id":"APP-2EJ531395M785864S","expires_in":30139}'
  recorded_at: Wed, 07 Mar 2018 19:58:13 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"2","name":"Name
        08 Feb 14:25","quantity":"1","price":"15.00","currency":"USD"},{"sku":"2","name":"Name
        08 Feb 14:25","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://97b78fe6.ngrok.io/paypal/approved","cancel_url":"http://97b78fe6.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAGJfTvfqRstH9x3gRmyzGxf4BhqbhvnAi5zeCM5ONFd0S7MUyoVWmIGk5wJ-LQbcUKkHaVIra2JO0eOVYXjoPIwh9-qNQ
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - b75dfedb-b6f5-4015-bed2-46478e71eea2
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - 4ce39934b8e5
      - 4ce39934b8e5
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-94W3399437483070ELKQEIVQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"Name
        08 Feb 14:25","sku":"2","price":"15.00","currency":"USD","quantity":1},{"name":"Name
        08 Feb 14:25","sku":"2","price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-03-07T19:58:14Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-94W3399437483070ELKQEIVQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-83212752BB2770054","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-94W3399437483070ELKQEIVQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Wed, 07 Mar 2018 19:58:14 GMT
recorded_with: VCR 4.0.0
