---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic RUJXS2psRUxLTVlxUk5RNnNZdkZvNjRGdGFSTFJSNUJkSEVFU21oYTQ5VE06RU80MjJkbjNnUUxnRGJ1d3FUanpyRmdGdGFSTFJSNUJkSEVFU21oYTQ5VE0=
      Paypal-Request-Id:
      - f61b4846-58eb-4a65-94a7-3e8b98e92e04
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 3409d4719b5ed
      - 3409d4719b5ed
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://api.paypal.com/v1/payments/.* https://api.paypal.com/v1/vault/credit-card
        openid https://api.paypal.com/v1/developer/.* https://api.paypal.com/v1/vault/credit-card/.*
        https://uri.paypal.com/services/customer/partner-referrals/readwrite","nonce":"2018-03-06T14:37:43ZGSw2PMelfW60pX9xnlKxm4sl-ckx4dTQcla7kVShDvY","access_token":"A21AAFQ16objXbJzX62gGmMg7yzDEwW7HRGSRLMpVcs2txD2yX219ahwo5HDrER-O7wqkYoBhLWxzcMxENw6URmnPwQ_G-UCA","token_type":"Bearer","app_id":"APP-2EJ531395M785864S","expires_in":32183}'
  recorded_at: Tue, 06 Mar 2018 14:41:20 GMT
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/payments/payment
    body:
      encoding: UTF-8
      string: '{"intent":"sale","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"currency":"USD","total":"30.00"},"item_list":{"items":[{"sku":"3","name":"Name
        08 Feb 14:25","quantity":"1","price":"15.00","currency":"USD"},{"sku":"3","name":"Name
        08 Feb 14:25","quantity":"1","price":"15.00","currency":"USD"}]}}],"redirect_urls":{"return_url":"http://18c67622.ngrok.io/paypal/approved","cancel_url":"http://18c67622.ngrok.io/paypal/rejected"}}'
    headers:
      X-Paypal-Sandbox-Email-Address:
      - Platform.sdk.seller@gmail.com
      Authorization:
      - Bearer A21AAFQ16objXbJzX62gGmMg7yzDEwW7HRGSRLMpVcs2txD2yX219ahwo5HDrER-O7wqkYoBhLWxzcMxENw6URmnPwQ_G-UCA
      Content-Type:
      - application/json
      Paypal-Request-Id:
      - f61b4846-58eb-4a65-94a7-3e8b98e92e04
  response:
    status:
      code: 201
      message: Created
    headers:
      Paypal-Debug-Id:
      - caffb620d3f33
      - caffb620d3f33
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-4MX46711F7154040BLKPKREQ","intent":"sale","state":"created","payer":{"payment_method":"paypal"},"transactions":[{"amount":{"total":"30.00","currency":"USD"},"item_list":{"items":[{"name":"Name
        08 Feb 14:25","sku":"3","price":"15.00","currency":"USD","quantity":1},{"name":"Name
        08 Feb 14:25","sku":"3","price":"15.00","currency":"USD","quantity":1}]},"related_resources":[]}],"create_time":"2018-03-06T14:41:21Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-4MX46711F7154040BLKPKREQ","rel":"self","method":"GET"},{"href":"https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token=EC-92B43633344726037","rel":"approval_url","method":"REDIRECT"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-4MX46711F7154040BLKPKREQ/execute","rel":"execute","method":"POST"}]}'
  recorded_at: Tue, 06 Mar 2018 14:41:22 GMT
recorded_with: VCR 4.0.0
